/*
 * === Footer Styles ===
 */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
