/*
 * === Footer Styles ===
 */

footer {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    border-top: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
