/*
 * === Footer Styles ===
 */

footer {
	background-color: #ffffff;
	height: 60px;
	width: 100%;
	bottom: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	border-top: 1px solid #cccccc;
}
