/*
 * === Filters style ===
 */

.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	float: right;
	margin: 11px 30px;
}

button:hover {
	opacity: 0.9;
}

.locations,
.amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
	margin-left: 40px;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations .hover,
.amenities .hover {
	background-color: #FAFAFA;
}

.locations:hover .popover,
.amenities:hover .popover {
	display: inline-block;
}

.popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: absolute;
	width: 100%
}

h2 {
	font-size: 16px;
	padding-left: 30px;
	margin: 0;
}

h3 {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 5px;
}

h4 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 12px;
}
